body {
  background-color: #e2b2ae;
}
.App {
  margin: 0 auto;
  margin-top: 2rem;
  border-radius: 15px;
  width: 30%;
  padding: 1rem;
  background-color: #f38f86;
  color: white;
  border-top: 10px solid #f38b87;
  border-left: 10px solid #f38b87;
  border-bottom: 10px solid #f38b87;
}
.row {
  padding: 1rem;
}
button {
  margin-right: 0.7rem !important;
  background-color: white !important;
  color: #e88e86 !important;
  border-left: 1px solid rgb(121, 113, 113) !important;
  border-top: 1px solid rgb(121, 113, 113) !important;
}
.button:active {
  transform: translateY(4px);
}
.display-result {
  height: 3.5rem;
  background-color: #ebbbb9 !important;
  border-radius: 1rem !important;
  border-top: 2px solid rgb(121, 113, 113) !important;
  border-right: 2px solid rgb(121, 113, 113) !important;
}
.plus {
  background-color: #f38a52 !important;
  color: white !important;
}
.cancel {
  background-color: #b0645e !important;
  color: white !important;
}
